name: "Adevinta's Vonage Go SDK"

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint:
    name: "Standards checks"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          show-progress: false
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"
      - uses: golangci/golangci-lint-action@v6
        with:
          version: v1.60
          args: -v --exclude-dirs internal

  test:
    name: "Run tests"
    strategy:
      fail-fast: false
      matrix:
        go-version: ["1.18", "1.23"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v4
        with:
          show-progress: false
      - run: "go test -v github.com/adevinta/vonage-go-sdk github.com/adevinta/vonage-go-sdk/jwt github.com/adevinta/vonage-go-sdk/ncco"
